@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayisblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
    --fontRegular: 400;
    --fontweightBold: 700;
    --font: 'Outfit', sans-serif;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: var(--font);
    background-color: var(--lightgray);
    height: 100vh;
    display: flex;
}


.card {
    width: 20rem;  /* 320px */
     height: 30.9375rem;  /* 495px */
    background-color: var(--white);
    border-radius: 1rem;
    margin: auto;

}

.card img {
    width: 17.8125rem; /*285px; */
    height: 18.125rem; /* 290px; */
    border-radius: 10px;
    margin: 1rem;

}

.text {
    padding: 0 2rem;
}

.text h1 {
    font-weight: var(--fontweightBold);
    color: var(--darkblue);
}

.text p {
    margin-top: 1rem;
    color: var(--grayisblue);
    font-weight: var(--fontRegular);
    text-align: center;
}

